.login-section{
    background-image: url(../../Images/loginbackground.png);
    background-repeat: no-repeat;
   background-size: 60% 100%;
    background-position: center;
    width: 100%;
    
    min-height:95vh ;
}